Include/
target/
dbt_packages/
logs/
Lib/
Scripts/
pyvenv.cfg
profiles.yml
*.txt
*.ipynb
*.log
*.sql
share/
etc/
prototipos/
sql/

extract_app/*test.py
extract_app/full_load.py
extract_app/*.ini
extract_app/*.ipynb
extract_app/prediccion-dengue-c26525b87ddc.json

dbt_app/*test.py